#friends-display-link {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #471414;
    border-radius: 25px;
    padding: 12px 0px 8px;
    font-size: 16px;
    margin-bottom: 20px;
    color: rgba(255, 217, 120, 0.4);
}
#friends-display-link a {
    display: flex;
    text-align: center;
}
#friends-display-link i:first-child {
    display: flex;
    text-align: center;
    margin-top: -2px;
    margin-right: 7px;
    color: rgba(255, 217, 120, 0.4);
}
#friends-display-link i:last-child {
    display: flex;
    margin-top: 5px;
    margin-left: 8px;
    text-align:center;
    color: rgba(255, 217, 120, 0.4);
}
.friends-screen {
    padding: 0px var(--horizontal-space);
    margin-top: 140px;
}
.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}
.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--yellow);
}
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: .3s;
    object-fit: cover;
}